/* ====================== GENERAL STYLES ======================== */
body {
    background-color: #afa496;
    color: #fcf3e7;
    font-family: 'Lato';
}

label {
    font-size: 1.1em;
}

/* ====================== NAV STYLES ======================== */
.navbar {
    border-bottom: 1px solid #2F4F4F !important;
    background-color: #7d756b;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
}

/* ====================== MOVIE FORM STYLES ======================== */
div.container {
    margin-top: 40px;
}

form.movieForm {
    margin: 15px 25px 80px 25px;
}

form.movieForm input {
    padding: 8px 0 4px 10px;
    transition: transform 0.2s;
}

form.movieForm input:focus:not([type=submit]) {
    border-left: 10px solid orange;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
}

form > input[type=submit]{
    margin-top: 30px;
}

input[type=submit] {
    background-color: #d7e6fa;
    color: #2F4F4F;
}

input[type=submit]:hover {
    background-color: #96a1af;
}

.movieForm .form-group:nth-of-type(1) {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    width: 100%;
}

.dropdown-content {
    padding: 4px 10px;
    border-bottom: 1px solid #efefef;
    position: relative;
    height: 120px;
    overflow: hidden;
}

.dropdown-content:hover {
    cursor: pointer;
    background-color: #d7e6fa;
}

.dropdown-content-image {
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid black;
}

.dropdown-content-body {
    position: relative;
    margin-left: 15%;
    padding: 5px 15px;
    font-size: 0.9em;
}

.powered-by {
    width: 120px;
    height: 50px;
    margin: 5px auto;
    display: block;
}

/* ====================== COLLECTION STYLES ======================== */
i.fas, i.far {
    cursor: pointer;
    margin: 0 4px;
}

.stars {
    font-family: "Font Awesome\ 5 Free";
    position: relative;
    display: inline-block;
}

.rating-star::before {
    content: '\f005';
}

.stars-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    pointer-events: none;
}

.stars-outer::before {
    content: '\f005';
    cursor: pointer;
    color: white;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
    color: yellow;
}

/* ====================== LOGIN/REGISTER STYLES ======================== */
.profile-form-text {
    margin-top: 35px;
    font-size: 1.1em;
}