/* ====================== GENERAL STYLES ======================== */
body {
    background-color: #afa496;
    color: #fcf3e7;
    font-family: 'Lato';
}

label {
    font-size: 1.1em;
}

.hide {
    visibility: hidden;
}

.msg {
    background-color: #89cff0;
    opacity: 0.8;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 40px;
}

/* ====================== NAV STYLES ======================== */
.navbar {
    border-bottom: 1px solid #2F4F4F !important;
    background-color: #7d756b;
}

.nav-item {
    color: #fcf3e7;
}

.nav-item:hover {
    color: #fcf3e7;
}

/* ====================== MOVIE FORM STYLES ======================== */
div.container {
    margin-top: 15px;
}

form.movieForm {
    margin: 10px 20px 60px 20px;
}

form.movieForm > div > input {
    padding: 8px 0 4px 10px;
    transition: transform 0.2s;
}

form.movieForm > div > input:focus {
    border-left: 10px solid orange;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
}

form > input[type=submit]{
    margin: 30px 0 0 0;
}

input[type=submit] {
    background-color: #d7e6fa;
    color: #2F4F4F;
}

input[type=submit]:hover {
    background-color: #96a1af;
}

/* ====================== FILTER STYLES ======================== */
div.form-group > select {
    padding: 5px 0 5px 10px;
}

/* ====================== COLLECTION STYLES ======================== */
i.fas, i.far {
    cursor: pointer;
    margin: 0 4px;
}

#collection {
    text-align: center;
    margin-bottom: 100px;
}

#collection table {
    width: 100%;
}

#collection > table > tr > th, td {
    padding: 10px;
    border: 1px solid #fdf9f3;
}

#collection table tr th {
    text-align: center;
    font-size: 1.1em;
}

.stars {
    font-family: "Font Awesome\ 5 Free";
    position: relative;
    display: inline-block;
}

.rating-star::before {
    content: '\f005';
}

.stars-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    pointer-events: none;
}

.stars-outer::before {
    content: '\f005';
    cursor: pointer;
    color: white;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
    color: yellow;
}