<div class="form-group">
    <label for="dvd-title">Title</label>
    <input autocomplete="off" ng-model="movieAdded" ng-change="getMovieSuggestions()" ng-focus="showMovieSuggestions()" ng-blur="hideMovieSuggestions()" class="form-control" type="text" name="dvd-title" id="dvd-title" required>
    <div class="dropdown">
        <div class="dropdown-content" ng-repeat="movie in (data.filtered = (suggestedMovies.results | filter: movieAdded | limitTo: 6))" ng-mousedown="fillFormWithSuggestion(movie)">
            <img ng-src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" class="dropdown-content-image" alt="Movie Poster">
            <div class="dropdown-content-body">
                <span class="font-weight-bold">{{ movie.original_title }}</span><span class="font-weight-bold float-right">{{ movie.release_date }}</span>
                <p>{{ movie.overview }}</p>
            </div>
        </div>
        <img class="powered-by" src="https://www.themoviedb.org/assets/1/v4/logos/408x161-powered-by-rectangle-green-bb4301c10ddc749b4e79463811a68afebeae66ef43d17bcfd8ff0e60ded7ce99.png" alt="The Movie Database">
    </div>
</div>
<div class="form-group">
    <label for="dvd-year">Year</label>
    <input autocomplete="off" ng-minlength="4" ng-max-length="4" class="form-control" type="number" name="dvd-year" id="dvd-year" placeholder="ex. YYYY" required>
</div>
<div class="form-group">
    <label for="dvd-format">Format</label>
    <select class="form-control" name="dvd-format" id="dvd-format">
        <option value="DVD">DVD</option>
        <option value="Blu-Ray">Blu-Ray</option>
        <option value="4K">4K</option>
        <option value="SteelBook">SteelBook</option>
    </select>
</div>
<div class="form-group">
    <label for="times-watched">Times Watched</label>
    <input class="form-control" min="0" type="number" name="times-watched" id="times-watched" required>
</div>