<form ng-submit="login($event)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password">
    </div>
    <input class="btn btn-block" type="submit" value="Login">
</form>
<div class="profile-form-text">Don't have an account?<a class="text-white" href="/register"> Create one here</a></div>